@model MotoGP.ViewModel.ForgotPasswordViewModel
@{
    ViewData["Title"] = "ForgotPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form action="ForgotPassword" method="post" class="dangnhap" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="title">
        <h3>@ViewBag.Title</h3>
    </div>
    <div class="row">
        <label for=""></label>
        <i class="fa-regular fa-envelope"></i>
        <input type="email" name="Email" id="" placeholder="Email">

    </div>
    <div class="row">
        <label for=""></label>
        <i class="fa-solid fa-mobile-screen-button"></i>
        <input type="tel" id="phone" name="NumberPhone" placeholder="Number Phone" pattern="[0-9]{10,11}" maxlength="11" required>
    </div>
    <div class="row">
        @Html.ValidationSummary(true, "", new { @class = "row" })
    </div>
    <div class="login">
        <button type="submit">Gửi</button>
    </div>
    <div class="links">
        <p><a href="@Url.Action("Login","Account")">Quay lại đăng nhập</a></p>
    </div>
</form>

