@model MotoGP.ViewModel.ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset Password";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<form asp-action="ResetPassword" method="post" class="dangnhap" autocomplete="off">
    @Html.AntiForgeryToken()
    <div class="title">
        <h3>@ViewData["Title"]</h3>
    </div>

    <input type="hidden" asp-for="Email" />
    <input type="hidden" asp-for="NumberPhone" />

    <div class="row">
        <label for="pass"></label>
        <i id="toggleIcon" class="fa-solid fa-lock" onclick="togglePassword()"></i>
        <input type="password" asp-for="NewPassword" id="pass" placeholder="New Password" required />
    </div>

    <div class="row">
        <label for="confirmpass"></label>
        <i id="confirmtoggleIcon" class="fa-solid fa-lock" onclick="confirmPassword()"></i>
        <input type="password" asp-for="ConfirmPassword" id="confirmpass" placeholder="Confirm Password" required />
    </div>

    <div class="login">
        <button type="submit">Đổi</button>
    </div>

    <div class="links">
        <p><a asp-action="Login" asp-controller="Account">Quay lại đăng nhập</a></p>
    </div>
</form>
