@model IEnumerable<MotoGP.Models.MotoImage>
@{
    ViewData["Title"] = "Danh sách ảnh";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="card-body table-responsive p-0" style="height: 700px;">
    <table class="table table-head-fixed text-nowrap">
        <thead>
            <tr>
               
                <th>Hình Ảnh</th>
                <th>Tên Xe</th>               
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var moto in Model)
            {
                <tr>
                    
                    <td>
                        <img src="@Url.Content("~/images/" + moto.HinhAnh)" alt="@moto.HinhAnh" style="width:100px;height:auto;" />

                    </td>
                    <td>@moto.Moto.TenXe</td> <!-- Nếu bạn đã bao gồm thông tin danh mục -->
                   
                    
                </tr>
            }
        </tbody>
    </table>
</div>

