 @model MotoGP.ViewModel.MotoViewModel

 @{
    ViewData["Title"] = "Thêm xe";
     Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
 }
 <div class="card card-primary">
     <div class="card-header">
         <h3 class="card-title">Thêm xe</h3>
     </div>
     <form asp-action="Create" method="post" enctype="multipart/form-data">
         @Html.AntiForgeryToken()
         <div class="row ">
             <div class="card-body col-md-6">
                 <div class="form-group">
                     <label for="TenXe">Tên Xe</label>
                     <input type="text" asp-for="TenXe" class="form-control" placeholder="Tên Xe">
                     <span asp-validation-for="TenXe" class="text-danger"></span>
                 </div>
                 <div class="form-group">
                     <label for="DongCo">Động cơ</label>
                     <input type="text" asp-for="DongCo" class="form-control" placeholder="Động cơ">
                     <span asp-validation-for="DongCo" class="text-danger"></span>
                 </div>
                 <div class="form-group">
                     <label for="MauXe">Màu xe</label>
                     <input type="text" asp-for="MauXe" class="form-control" placeholder="Màu xe">
                 </div>
                <div class="form-group">
                    <label for="ChiTietDongCo">Chi tiết Động cơ</label>
                    <textarea asp-for="ChiTietDongCo" id="editor"></textarea>
                </div>
                <div class="form-group">
                    <label for="ChiTietDongCo">Chi tiết Động cơ</label>
                    <textarea asp-for="ChiTietHẹThongPhanh" id="editor1"></textarea>
                </div>
                <div class="form-group">
                    <label for="CongNghe">Công nghệ</label>
                    <textarea asp-for="CongNghe" id="editor2"></textarea>
                </div>
                <div class="form-group">
                    <label for="HienThi">Hiển thị</label>
                    <div class="form-check">
                        <input type="checkbox" asp-for="HienThi" class="form-check-input">
                       
                    </div>
                </div>
             </div>
             <div class="card-body col-md-6">
                 <div class="form-group">
                     <label for="Gia">Giá</label>
                     <input type="text" asp-for="Gia" class="form-control" placeholder="Giá">
                     <span asp-validation-for="Gia" class="text-danger"></span>
                 </div>
                <div class="form-group">
                    <label for="NuocSanXuat">Hình ảnh</label>
                    <div class="input-group">
                        <div class="custom-file">
                            <input type="file" asp-for="HinhAnh" class="custom-file-input" id="imageInput">
                            <label asp-for="HinhAnh" class="custom-file-label" id="imageLabel">Choose file</label>
                        </div>
                        <div class="input-group-append">
                            <span class="input-group-text">Upload</span>
                        </div>
                    </div>
                </div>
                 <div class="form-group">
                     <label asp-for="IdDanhMuc" class="control-label"></label>
                     <select asp-for="IdDanhMuc" asp-items="@(new SelectList(ViewBag.DanhMucs, "Id", "TenHangXe"))" class="form-control">
                         <option value="">-- Chọn danh mục --</option>
                     </select>
                     <span asp-validation-for="IdDanhMuc" class="text-danger"></span>
                 </div>
                <div class="form-group">
                    <label for="ThietKe">Thiết kế</label>
                    <textarea asp-for="ThietKe" id="editor3"></textarea>
                </div>
                <div class="form-group">
                    <label for="SanXuat">Sản xuất</label>
                    <textarea asp-for="SanXuat" id="editor4"></textarea>
                </div>
                <div class="form-group">
                    <label for="HieuXuat">Hiệu xuất</label>
                    <textarea asp-for="HieuSuat" id="editor5"></textarea>
                </div>
                <div class="form-group">
                    <label for="GiaDanhGia">Đánh giá</label>
                    <input type="number" asp-for="DanhGia" class="form-control" placeholder="Số sao đánh giá">
                    
                </div>
                <div class="form-group">
                    <label for="NoiBat">Sản phẩm nổi bật</label>
                    <div class="form-check">
                        <input type="checkbox" asp-for="NoiBat" class="form-check-input">
                       
                    </div>
                </div>

             </div>
         </div>

         <div class="card-footer">
             <button type="submit" class="btn btn-primary">Thêm</button>
         </div>
     </form>
 </div>

<script>
    document.getElementById('imageInput').addEventListener('change', function (event) {
        var fileName = event.target.files[0] ? event.target.files[0].name : 'Choose file';
        document.getElementById('imageLabel').innerText = fileName;
    }); 
    // Initialize CKEditor
    CKEDITOR.replace('editor', {
        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        allowedContent: 'p h1 h2 h3 blockquote strong em; a[!href]; img[!src,alt,width,height];',
        disallowedContent: 'style font'
    });
    CKEDITOR.replace('editor1', {
        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        allowedContent: 'p h1 h2 h3 blockquote strong em; a[!href]; img[!src,alt,width,height];',
        disallowedContent: 'style font'
    });
    CKEDITOR.replace('editor2', {
        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        allowedContent: 'p h1 h2 h3 blockquote strong em; a[!href]; img[!src,alt,width,height];',
        disallowedContent: 'style font'
    });
    CKEDITOR.replace('editor3', {
        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        allowedContent: 'p h1 h2 h3 blockquote strong em; a[!href]; img[!src,alt,width,height];',
        disallowedContent: 'style font'
    });
    CKEDITOR.replace('editor4', {
        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        allowedContent: 'p h1 h2 h3 blockquote strong em; a[!href]; img[!src,alt,width,height];',
        disallowedContent: 'style font'
    });
    CKEDITOR.replace('editor5', {
        filebrowserBrowseUrl: '/ckfinder/ckfinder.html',
        filebrowserUploadUrl: '/ckfinder/core/connector/php/connector.php?command=QuickUpload&type=Files',
        allowedContent: 'p h1 h2 h3 blockquote strong em; a[!href]; img[!src,alt,width,height];',
        disallowedContent: 'style font'
    });
   
</script>