<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/hehe.css" rel="stylesheet" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div class="falling-leaves"></div>
   @RenderBody()

    <script src="https://kit.fontawesome.com/28a133ec27.js" crossorigin="anonymous"></script>
    <script src="~/js/script.js"></script>
</body>
</html>