<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/client/style.css" rel="stylesheet" />
    <link href="~/client/screen.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Permanent+Marker&display=swap" rel="stylesheet">
    <title>MotoGP</title>

</head>
<body>

    <nav>
        <div class="nav-logo">
            <img src="~/client/img/logo.png" />
            <p>Moto<span>GP</span></p>
        </div>
        <span class="hamburger" onclick="toggleMenu()">&#9776;</span> <!-- Nút hamburger -->
        <div class="nav-menu">
            <ul>
                <li><a href="http://127.0.0.1:3000/index.html">Home</a></li>
                <li>
                    <a href="#">Hãng xe <i class="fa-solid fa-angle-down"></i></a>
                    <div class="submenu">
                        <ul>
                            <li><a href="#">Honda</a></li>
                            <li><a href="#">Yamaha</a></li>
                            <li><a href="#">Kawasaki</a></li>
                            <li><a href="#">BMW</a></li>
                            <li><a href="#">Ducati</a></li>
                        </ul>
                    </div>
                </li>
                <li><a href="#">Dịch vụ</a></li>
                <li><a href="#">Phụ kiện</a></li>
                <li><a href="#">Tin tức</a></li>
                <li><a href="#">Hotline</a></li>
                <li><a href="#">Đăng nhập</a></li>
            </ul>
        </div>
    </nav>

    @RenderBody()
    <footer>
        <div class="nen"></div>
        <div class="container">

            <div class="row">
                <h3>Liên hệ</h3>
                <p><i class="fa-solid fa-phone"></i> Hotline Sóc Trăng: <a href="">0924766133</a></p>
                <p><i class="fa-solid fa-phone"></i> Hotline HCM: <a href="">0924766133</a></p>
                <p><i class="fa-solid fa-envelope"></i> Email: <a href="">Nguyenthaitoan941@gmail.com</a></p>
                <p><i class="fa-solid fa-globe"></i> Website: <a href="">http://motogp.com</a></p>
            </div>
            <div class="row">
                <h3>SHOWROOM</h3>
                <p><i class="fa-solid fa-house"></i> Showroom 1: Xóm Lớn, Mỹ Hương, Mỹ Tú, Sóc Trăng</p>
                <p><i class="fa-solid fa-house"></i> Showroom 2: 415 Phạm Văn Đồng, phường Linh Đông, quận Thủ Đức, TP.HCM.( gần vòng xoay Kha Vạn Cân và Phạm Văn Đồng).</p>

            </div>
            <div class="row">
                <h3>Về MOTOGP</h3>
                <p>Giới thiệu</p>
                <p>Liên hệ</p>
                <p>Quyền lợi & Lợi ích</p>
                <p>Chính sách bảo mật</p>
                <p>Điều khoản sử dụng</p>
            </div>
            <div class="row">
                <h3>FANPAGE</h3>
                <p><i class="fa-brands fa-facebook"></i></p>
                <p><i class="fa-brands fa-instagram"></i></p>
                <p><i class="fa-brands fa-tiktok"></i></p>
                <p><i class="fa-brands fa-twitter"></i></p>
            </div>
        </div>


    </footer>
    <script src="~/client/js/script.js"></script>
</body>
</html>
